body{
    background-color: #4144da;
    front-family: Arial, sans-serif;
    text-aling: center;
}
h1 {
    color:rgb(0, 255, 191);
}
/* Este es un comentario en CSS */
p {
    front-size: 18px;
    color: rgb(128, 128, 128);
}